body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

.navbar {
  background: black;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.container {
  width: 90%;
  margin: auto;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

button {
  background: black;
  color: white;
  padding: 10px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background: #333;
}

.form-box {
  width: 300px;
  margin: 60px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}